body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafbb7;
  color: #1f2937;
}

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas[data-generated="true"] {
  width: 100vw !important;
  height: 100vh !important;
  display: block !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0;
}
